.company-name{
    font-family:"Unbuntu";
    color:#1c1c1c;
    font-size:1.4rem;
    font-weight:800;
  
  }

  .company-name>p{
  
    color:red;
    text-decoration: underline;
  }
  .designation{
    font-family:0.8rem;
    font-weight:800;
    font-family:"Ubuntu";
    color:#1c1c1c;
    text-transform:capitalize;
  }
  .experience{
    font-family:monoscope;
    font-size:1rem;
    background:var(--standout-color);
    color:#1c1c1c;
    padding:10px 10px;
    border-radius:20px;
  }

  